# OoT Mega Randomizer - Ship Edition
seed=7916907416181091511
barren_start=true
everything_sanity=true
ability.talk_to_npcs=true
ability.open_chests=true
ability.roll=true
ability.z_target=true
ability.open_doors=true
ability.read_signs=true
ability.pick_up_objects=true
ability.throw_objects=true
ability.push_pull=true
ability.climb=true
ability.use_ladders=true
ability.crawl=true
ability.swim=true
ability.dive=true
ability.use_shops=true
ability.buy_from_scrubs=true
ability.use_bottles=true
ability.fish=true
ability.plant_beans=true
ability.cut_grass=true
ability.break_pots=true
ability.break_crates=true
ability.break_rocks=true
ability.break_boulders=true
ability.break_beehives=true
ability.hit_trees=true
ability.activate_switches=true
ability.light_torches=true
ability.kill_enemies=true
ability.collect_enemy_drops=true
ability.use_ocarina=true
ability.use_c_buttons=true
ability.use_a_button_interactions=true
ability.backflip_sidehop=true
ability.ledge_grab=true
ability.use_warp_songs=true
ability.use_minigames=true
ability.talk_to_gossip_stones=true
ability.interact_with_cows=true
ability.use_masks=true
check.chests=true
check.freestanding_items=true
check.npc_rewards=true
check.npc_talk=true
check.songs=true
check.dungeon_rewards=true
check.gold_skulltulas=true
check.scrubs=true
check.shops=true
check.cows=true
check.frogs=true
check.fishing=true
check.minigames=true
check.merchants=true
check.pots=true
check.flying_pots=true
check.large_crates=true
check.small_crates=true
check.grass=true
check.bushes=true
check.bombable_boulders=true
check.hammer_rocks=true
check.silver_rocks=true
check.liftable_rocks=true
check.trees=true
check.beehives=true
check.wonderitems=true
check.enemy_kills=true
check.enemy_drops=true
check.minibosses=true
check.bosses=true
check.signs=true
check.doors=true
check.locked_doors=true
check.switches=true
check.eye_switches=true
check.floor_switches=true
check.rusty_switches=true
check.torches=true
check.ladders=true
check.crawlspaces=true
check.push_blocks=true
check.pull_blocks=true
check.bombable_walls=true
check.webs=true
check.graves=true
check.bean_spots=true
check.gossip_stones=true
check.ocarina_spots=true
check.scarecrow_spots=true
check.diving_spots=true
check.waterfalls=true
check.hidden_grottos=true
check.fairy_fountains=true
check.great_fairies=true
check.heart_pieces=true
check.heart_containers=true
check.boss_heart_containers=true
check.map_compass_chests=true
check.small_key_chests=true
check.boss_key_chests=true
check.gerudo_keys=true
check.silver_rupees=true
check.collectable_rupees=true
check.collectable_hearts=true
check.magic_jars=true
check.ammo_drops=true
check.bottle_contents=true
check.bombchu_bowling=true
check.archery_targets=true
check.horseback_archery=true
check.dampe_digging=true
check.dampe_race=true
check.treasure_chest_game=true
check.mask_reactions=true
check.trade_sequence=true
check.owl_interactions=true
check.warp_pedestals=true
soul.chest=by_type
soul.pot=by_type
soul.flying_pot=by_type
soul.crate=by_type
soul.grass=by_type
soul.bush=by_type
soul.boulder=by_type
soul.rock=by_type
soul.tree=by_type
soul.beehive=by_type
soul.enemy=by_type
soul.enemy_drop=by_type
soul.npc=by_type
soul.shop=by_type
soul.scrub=by_type
soul.cow=by_type
soul.skulltula=by_type
soul.boss=by_type
soul.miniboss=by_type
soul.door=by_type
soul.sign=by_type
soul.switch=by_type
soul.torch=by_type
soul.ladder=by_type
soul.crawlspace=by_type
soul.push_block=by_type
soul.gossip_stone=by_type
soul.wonderitem=by_type
soul.fishing=by_type
soul.minigame=by_type
soul.bean=by_type
soul.bottle=by_type
soul.ocarina_spot=by_type
soul.freestanding_item=by_type
rom_hint=D:/romstuff/roms/Legend of Zelda, The - Ocarina of Time (USA).z64
